<section class="bg_banner_inner text-center">
  <h2>Video </h2>
</section>

<section class="container-fluid">
  <main role="main">
      <!--Instructor open-->
      <div class="text-center choose top-space-30">
          <div class="row">
              <div class="col-12 col-lg-3 col-sm-5">
                  <div class="play-list-details play-list-crd2">
                      <!--Accordion wrapper-->
                      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingOne1">
                                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                     aria-controls="collapseOne1">
                                      <h5 class="mb-0">
                                          Chapter 1
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info">
                                          Jquery Introduction
                                          <!-- Default unchecked --><div class="pull-right">
                                              <i class="fa fa-check viewed" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Bootstrap Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <i class="fa fa-check viewed" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Hadoop Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->
                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingTwo2">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#chpater2"
                                     aria-expanded="false" aria-controls="collapseTwo2">
                                      <h5 class="mb-0">
                                          Chapter 2
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="chpater2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info">
                                          Java Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Python Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          C++ Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->
                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingThree3">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#chpater3"
                                     aria-expanded="false" aria-controls="collapseThree3">
                                      <h5 class="mb-0">
                                          Chapter 3
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="chpater3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info">
                                          Java Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Python Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Jquery Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->
                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingThree3">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#chpater4"
                                     aria-expanded="false" aria-controls="collapseThree33">
                                      <h5 class="mb-0">
                                          Chapter 4
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="chpater4" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info">
                                          Java Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Python Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Jquery Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->
                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingThree3">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#chpater5"
                                     aria-expanded="false" aria-controls="collapseThree33">
                                      <h5 class="mb-0">
                                          Chapter 5
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="chpater5" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info">
                                          Java Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Python Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Jquery Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->
                          <!-- Accordion card -->
                          <div class="card">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingThree3">
                                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#chpater6"
                                     aria-expanded="false" aria-controls="collapseThree33">
                                      <h5 class="mb-0">
                                          Chapter 6
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="chpater6" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info">
                                          Java Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Python Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                      <div class="chapter-info">
                                          Jquery Introduction
                                          <!-- Default unchecked -->
                                          <div class="pull-right">
                                              <!--<i class="fa fa-check viewed" aria-hidden="true"></i>-->
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->

                      </div>
                      <!-- Accordion wrapper -->
                  </div>
              </div>
              <div class="col-12 col-lg-9 col-sm-7 bg_dark_right" id="listing">

                  <div class="academy-video">
                      <div class="play-list-crd  brd-box">
                          <img class=" card-img-top img-fluid" src="assets/img/play.png" alt="Card image">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Instructor end-->
  </main>
</section>