<section class="bg_banner_inner text-center">
  <h2>Video</h2>
</section>
<ng-template [ngIf]="videos.length">
<section class="container-fluid">
  <main role="main">
      <!--Instructor open-->
      <div class="text-center choose top-space-30">
          <div class="row">
              <div class="col-12 col-lg-3 col-sm-5">
                  <div class="play-list-details play-list-crd2">
                      <!--Accordion wrapper-->
                      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                          <!-- Accordion card -->

                          <div class="card" *ngFor="let video of videos[0]">

                              <!-- Card header -->
                              <div class="card-header collapse-heading-video" role="tab" id="headingOne1">
                                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                     aria-controls="collapseOne1">
                                      <h5 class="mb-0">
                                          {{ video.sectionName }}
                                      </h5>
                                  </a>
                              </div>

                              <!-- Card body -->
                              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                  <div class="card-body">
                                      <div class="chapter-info" *ngFor="let lecture of video.lectures ;">
                                          {{ lecture.lectureTitle }}

                                          <!-- Default unchecked --><div class="pull-right">
                                              <i class="fa fa-check viewed" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <!-- Accordion card -->

                      </div>
                      <!-- Accordion wrapper -->
                  </div>
              </div>
              <div class="col-12 col-lg-9 col-sm-7 bg_dark_right" id="listing">
                  <div class="academy-video">
                      <div class="play-list-crd  brd-box">
                        <h1>{{ videos[0][0].lectures[0].lectureTitle }}</h1>
                        <video class=" card-img-top img-fluid" controls>
                          <source src='{{ videos[0][0].lectures[0].lectureLink }}' type="video/mp4">
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      <!--Instructor end-->
  </main>
</section>
</ng-template>
