<section  class="bg_banner_inner text-center">
  <h2>Play List</h2>
</section>
	
<section class="container-fluid bg_dark1">
  <main role="main"> 
    <!--Instructor open-->
    <div class="container-fluid">
      	 <div class="row">
            <div class="col-12  col-lg-2 col-sm-3 bg_dark_left">
                 <div class="play-list-details play-list-crd2">
					<ul class="playlist-ul bg_dark_left " >
						<li><a href="#Specialization"><i class="fa fa-plus"></i> New Playlist</a></li>
						<li><a href="#Course"><i class="fa fa-play"></i>  Playlist 1</a> </li>
						<li><a href="#Instructor"><i class="fa fa-play"></i> Playlist 2</a></li>
						<li><a href="#faq"><i class="fa fa-play"></i> Playlist 3</a></li>
						<li><a href="#comments"><i class="fa fa-play"></i> Playlist 4</a></li>
						<!-- cd-faq-categories -->
					  </ul>
				</div>
            </div>
            <div class="col-12  col-lg-10 col-sm-9 bg_dark_right mrg_top_1">
                <button class="btn playlist-btn">Playlist 1</button>
				<i class="fa fa-trash play-list-recycle"></i>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<a href="#"><i class="fa fa-close font-close"></i></a>
								</div>
							 </div>
						 </div>	
					 </div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<a href="#"><i class="fa fa-close font-close"></i></a>
								</div>
							 </div>
						 </div>	
					 </div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<a href="#"><i class="fa fa-close font-close"></i></a>
								</div>
							 </div>
						 </div>	
					 </div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<a href="#"><i class="fa fa-close font-close"></i></a>
								</div>
							 </div>
						 </div>	
					 </div>
				</div>  
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<a href="#"><i class="fa fa-close font-close"></i></a>
								</div>
							 </div>
						 </div>	
					 </div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<a href="#"><i class="fa fa-close font-close"></i></a>
								</div>
							 </div>
						 </div>	
					 </div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd"> 
							<a href="video.html">
								<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
							</a>
							<div class="card-body text-left">
								<h4 class="enrolled-card">
									<a href="video.html">Introduction to Java</a>
								 </h4>
								<div class="progress" style="height:15px">
								  <div class="progress-bar" style="width:40%;height:15px">35%</div>
									<i class="fa fa-close font-close"></i>
								</div>
							 </div>
						 </div>	
					 </div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						 <div class="card play-list-crd2"> 
							 <a href="video.html" class="btn " data-toggle="modal" data-target="#myvideo"><i class="fa fa-plus"></i> New Video</a>
						 </div>	
					 </div>
				</div>
            </div>
          </div>
    </div>
    <!--Instructor end--> 
  </main>
</section>

<!--Trainings end--> 