
<h1>Create Course</h1>
<div class="col-12 col-lg-6  order-lg-12 order-1 right_top">
<form [formGroup]="courseInfoForm">
    <div class="form-group">
    <input type="text" class="form-control" required formControlName="title"  placeholder=""/>
    </div>
    <div class="form-group">
    <input type="text" class="form-control" required formControlName="description"  placeholder=""/>
     </div>
     <div class="form-group"> 
    <select  formControlName="level">
      <option [value]="level" *ngFor="let level of levels">{{level}}</option>
   </select> 
   </div>
   <div class="form-group">
   <select  formControlName="category">
      <option [value]="category" *ngFor="let category of categories">{{category.description}}</option>
   </select>   
  </div>           
   <button type="submit" (click)="onSubmit()" class="signinbtn" >create</button>
</form>
</div>
  