<section  class="bg_banner_inner text-center">
  <h2>Enrolled Courses</h2>
</section>
<div class="container-fluid">
	<h1 class="heading-choose">My Course</h1>
	<div class="row custom-card">
		<ng-template [ngIf]="courses.length">	
				
    	<div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let course of courses[0]">
				<h6>{{course.courseName}}</h6>
				<div class="card bottom-btm2rem"> 
					<div (click)="loadCourseVideos()">
						<img class=" card-img-top  img-fluid" src={{course.coverImage}} alt="Card image">
					</div>
					<div (click)="loadCourseVideos()" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</div>
					<div class="text-left">
						<h4 class="enrolled-card" (click)="loadCourseVideos()">
							{{course.instructorName}}
						</h4>
					</div>
					<div class="progress" style="height:15px">
				  	<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					  	<span class="sr-only"></span>{{course.percentageCompleted}}%
				  	</div>
					</div>
					<div class="star-rating-info">
						<div class="starrating risingstar d-flex flex-row-reverse">
							<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
							<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
							<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
							<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
							<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
						</div>	
						<div class="number-text-rating">500</div>
					</div>
				</div>	
			</div>
		</ng-template>
		<ng-template [ngIf]="!(courses.length)">
			<h1>You have not enrolled in any courses yet</h1>
		</ng-template>
  </div>  
</div>

	