<section  class="bg_banner_inner text-center">
  <h2>Enrolled Course</h2>
</section>
	
<div class="container-fluid">
   <h1 class="heading-choose">My Course</h1>
    <div class="row custom-card">
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="../../assets/img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
	</div>  
	<div class="row custom-card">
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="text-left">
					<h4 class="enrolled-card">
						<a href="#">Lindsay Maarsh</a>
					 </h4>
				 </div>
				<div class="progress" style="height:15px">
				  <div class="progress-bar" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%;height:15px;">
					<span class="sr-only">70% Complete</span>70%
				  </div>
				</div>
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
				 </div>
			 </div>	
		 </div>
	</div>
</div>
	
	
<div class="container-fluid">
   <h1 class="heading-choose">Top Rated Courses</h1>
    <div class="row custom-card">
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="top-rated-text text-left">
					<a href="#">Product 1</a>
					<p>100</p>
					<p>Add product description</p>					 
				 </div>
				
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="top-rated-text text-left">
					<a href="#">Product 1</a>
					<p>100</p>
					<p>Add product description</p>					 
				 </div>
				
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="top-rated-text text-left">
					<a href="#">Product 1</a>
					<p>100</p>
					<p>Add product description</p>					 
				 </div>
				
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="top-rated-text text-left">
					<a href="#">Product 1</a>
					<p>100</p>
					<p>Add product description</p>					 
				 </div>
				
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="top-rated-text text-left">
					<a href="#">Product 1</a>
					<p>100</p>
					<p>Add product description</p>					 
				 </div>
				
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6">
			 <div class="card bottom-btm2rem"> 
				<a href="">
					<img class=" card-img-top  img-fluid" src="img/play.png" alt="Card image">
				</a>
				<a href="video.html" class="btn btn-primary btn-lg btn-block select-btn-cust">Select</a>
				<div class="top-rated-text text-left">
					<a href="#">Product 1</a>
					<p>100</p>
					<p>Add product description</p>					 
				 </div>
				
				 <div class="star-rating-info">
					<div class="starrating risingstar d-flex flex-row-reverse">
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
					</div>
					 <div class="number-text-rating">500</div>
				 </div>
			 </div>	
		 </div>
	</div>  
</div>